<head>
<link a href="/stylesheets/dcalendar.picker.css" rel="stylesheet">
</head>

<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>

<script src="/dcalendar.picker.js"></script>



<div>
<h1><%= listing.name %></h1>
       <br />
       <%= listing.description %>
</div>

<h2>Pick a Night:</h2>

<%= listing.name %> is available from <%= listing.startDate %> until <%= listing.endDate %>

<div>
  <center>
    <input type="text" id="datepicker"/>
    <br/>
    <br/>
    <form action='/listings/requests' method ='POST'>
      <input type='submit' value='Request to Book'>
    </form>
  </center>
</div>



<script>
  $(document).ready(function(){
    $('#datepicker').dcalendarpicker({format: 'yyyy-mm-dd'}); //Initializes the date picker
  });
</script>

<!-- <input type="text" id="datefrom" data-rangeto=<%= listing.endDate %>/>   //Maximum enabled date is <= value of #dateto
<input type="text" id="dateto" data-rangefrom=<%= listing.startDate %> data-maxdate="today"/>  //Minimum enabled date is >= value of #datefrom -->

<!--
calendar is an array: displayed as calendar
iterate over the calendar array with listing startdate, enddate
===


-->
